body {
  margin: 0;
  background-color: #212121;
  font-family: "Muli", sans-serif;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #212121;
  /* background-color: #a23e48; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img{
  width: 80px;
  margin-top: 5px;
  margin-left: 10px;
}

.header__menu{
  margin-right: 30px;
}

.header__menu ul{
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px 0px 0px -14px;
}

.header__menu:hover ul, ul:hover{
  display: block;
}

.header__menu li{
  margin: 10px 0px;
}

.header__menu li a{
  color: white;
  text-decoration: none;
}

.header__menu li a:hover{
  text-decoration: underline;
}

.header__menu--profile{
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.header__menu--profile img{
  margin-right: 8px;
  height: 40px;
}

.header__menu--profile p{
  margin: 0px;
  color: white;
}

.main{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0px 0px 40px 40px;
}

.main__title{
  color: white;
  font-size: 25px;
}

.input{
  background-color: #6b6b6b85;
  width: 70%;
  height: 30px;
  padding: 0 15px;
  color: white;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 25px;
  outline: none;
}

::placeholder{
  color: white
}